.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 100%;
}

body {
  font-family: "Commissioner", sans-serif;
  margin: 0px;
  padding: 0;
}

:root {
  --black: hsl(0, 0%, 0%);
  --darkgray: hsl(0, 0%, 48%);
  --darkcyan: hsl(176, 72%, 28%);
  --modcyan: rgb(61, 184, 175);
  --ltgray: hsl(210, 6%, 94%);
  --paddingX: 2rem;
  --paddingY: 1.5rem;
}

.dim {
  display: block;
  position: absolute;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1400px;
  height: 0px;
  background-color: var(--darkgray);
  top: 0;
  left: 0;
  margin-left: -1000;
  opacity: 0.5;
}

.container {
  max-width: 375px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-image: url(/images/image-hero-mobile.jpg);
  background-position: 10% 90%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 250px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 30px;
  padding-top: 40px;
}

.menu {
  display: none;
  position: absolute;
  z-index: 999;
  margin: auto 0;
  width: 400px;
  top: 80px;
  left: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-ul {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  top: 0;
  right: 0;
  padding: 0px;
  margin-bottom: 1px;
}

.menu-ul li {
  list-style-type: none;
}

.menu-ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 20px 25px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid var(--ltgray);
}

.hamburger {
  display: block;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  display: block;
}

#toggle:checked ~ .dim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1400px;
  height: 1400px;
  background-color: var(--darkgray);
  top: 0;
  left: 0;
  margin-left: -1000;
  opacity: 0.5;
}

#toggle:checked ~ .hamburger {
  position: relative;
  z-index: 9999;
  content: url(/images/icon-close-menu.svg);
  width: 20px;
  height: 20px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border-radius: 0.5rem;
  max-width: 400px;
  margin: auto;
  font-size: 15px;
  margin-top: -50px;
  background-color: white;
  height: 2000px;
}

.mastercraft {
  position: relative;
  margin-top: -25px;
  margin-left: 170px;
}

.mastercard {
  position: relative;
  border-radius: 25px;
  margin-bottom: 100px;
  margin-top: -40px;
  border-radius: 0.5rem;
  width: 400px;
  height: 400px;
  background-color: white;
  -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

p {
  text-align: center;
  font-size: 18px;
  line-height: 2;
  color: var(--darkgray);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

.backbutton {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--modcyan);
  color: white;
  border: none;
  width: 220px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-weight: bold;
}

.backbutton:hover {
  background-color: var(--darkcyan);
}

.bookmar, .bookm {
  cursor: pointer;
}

#mark {
  display: none;
}

.bookm {
  display: none;
}

#mark:checked ~ .bookm {
  color: var(--darkgray);
}

#mark:checked ~ .bookmar {
  content: url(/images/icon-graybookmark.svg);
}

.middle {
  margin-top: 50px;
  border-radius: 0.5rem;
  width: 400px;
  background-color: white;
  -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1 1fr;
      grid-template-columns: 1 1fr;
}

hr {
  border: solid 0.5px var(--ltgray);
  width: 100px;
}

.about {
  padding: 20px;
  margin: 0;
  border-radius: 0.5rem;
  max-width: 375px;
  background-color: white;
  -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3 1fr);
  grid-row-gap: 20px;
}

.standcard {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--ltgray);
  padding: 20px;
  opacity: 1;
}

h3 {
  font-weight: 900;
}

.pledge {
  color: var(--modcyan);
  font-weight: bold;
}

.about h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.about p {
  font-weight: normal;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5px;
  margin-top: 5px;
}

.selectbutton {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--modcyan);
  color: white;
  border: none;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-weight: bold;
  width: 150px;
}

.selectbutton:hover {
  background-color: var(--darkcyan);
}

.box4 {
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.progress {
  max-width: 300px;
  border-radius: 15px;
  background-color: #f3ecec;
}

.progress-bar {
  height: 15px;
  border-radius: 25px;
  background: #3db8af;
}

.backproject {
  display: block;
  background-color: white;
  position: relative;
  z-index: -99;
  padding: 20px;
  margin-top: -3100px;
  border-radius: 0.5rem;
  max-width: 375px;
  -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3 1fr);
  grid-row-gap: 20px;
}

.backhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.backproject img {
  height: 15px;
  cursor: pointer;
}

.backproject p {
  text-align: left;
  padding: 5px;
}

.radio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px 300px)[1];
      grid-template-columns: repeat(1, 40px 300px);
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input:checked + .radio__control {
  background: radial-gradient(#3cb4ac 50%, rgba(255, 0, 0, 0) 51%);
}

.radio__control {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 0.2em solid var(--ltgray);
  -webkit-transform: translateY(-0.1em);
          transform: translateY(-0.1em);
}

.radio__label {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.backproject h1 {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.backproject h4 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.backproject p {
  padding: 10px;
}

.backproject .selectbutton {
  display: none;
}

.backproject .standcard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 2px;
}

.enter {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.enter hr {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  width: 350px;
}

.enter p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.submit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.price {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  font-weight: bold;
  border: 3px solid var(--ltgray);
}

.continue {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--modcyan);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-weight: bold;
  border: 3px solid var(--ltgray);
}

@media screen and (min-width: 800px) {
  main {
    max-width: 1440px;
    height: 400px;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    max-width: 1440px;
  }
  nav {
    background-image: url(/images/image-hero-desktop.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hamburger {
    display: none;
  }
  .menu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2/2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: auto 0;
    width: 400px;
    top: 0px;
    left: 415px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu-ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    padding: 0;
    margin: 0;
  }
  .menu-ul li a {
    color: white;
    border: 0;
    padding: 0 20px;
  }
  aside {
    max-width: 800px;
    background-color: white;
    height: 2000px;
  }
  .mastercraft {
    position: relative;
    margin-left: 380px;
  }
  .mastercard, .middle, .about, .standcard, .backproject {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 800px;
    width: 800px;
  }
  .mastercard {
    height: 300px;
  }
  .backbutton:hover {
    background-color: var(--darkcyan);
  }
  .bookmarks {
    width: 140px;
    height: 60px;
  }
  .bookmarks img {
    content: url(/images/icon-webbookmark.svg);
  }
  .bookm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--ltgray);
    border-radius: 50px;
    color: #147b74;
    font-weight: bold;
    padding: 0 20px;
    margin-top: -60px;
    width: 130px;
    height: 60px;
  }
  .middle {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (3fr, 3fr)[2];
        grid-template-rows: repeat(2, 3fr, 3fr);
    padding: 30px;
  }
  .box4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/3/4;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0;
  }
  .progress, .progress-bar {
    max-width: 500px;
    height: 15px;
    width: 500px;
  }
  .standcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr, 1fr, 1fr)[3];
        grid-template-rows: repeat(3, 1fr, 1fr, 1fr);
  }
  .pledge {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-self: flex-end;
    margin-right: 20px;
  }
  .standcard {
    max-width: 800px;
    width: 720px;
  }
  .standcard p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/3/4;
  }
  .left {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .selectbutton {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3/3/4/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about {
    max-width: 800px;
    padding: 40px;
  }
  .backproject {
    margin-top: -2100px;
    z-index: 999;
  }
  .standcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (0.5fr)[2];
        grid-template-rows: repeat(2, 0.5fr);
  }
  .radio {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    justify-self: flex-end;
    margin-right: 30px;
  }
  .standcard p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
  }
  .pledge {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .enter {
    display: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3/1/5/3;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (0.5fr)[2];
        grid-template-rows: repeat(2, 0.5fr);
  }
  .enter hr {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
    width: 100%;
  }
  .enter p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 40px;
  }
  .enter.submit {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */