.html {
    box-sizing: border-box;
    font: 100%;
    // font-size: 16px;
}

body {
    font-family: "Commissioner", sans-serif;
}

:root {
    --black: hsl(0, 0%, 0%);
    --darkgray: hsl(0, 0%, 48%);
    --darkcyan: hsl(176, 72%, 28%);
    --modcyan: hsl(176, 50%, 48%);
    --ltgray: hsl(210, 6%, 94%);
    --paddingX: 2rem;
    --paddingY: 1.5rem;
}
.container {
    max-width: 375px;
}
nav {
    display: flex;
    position: relative;
    background-image: url(/images/image-hero-mobile.jpg);
    background-position: 10% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
    padding: 30px;
    padding-top: 40px;
}

.menu{
    display: none;
    position: absolute;
    z-index: 999;
    margin: auto 0;
    width: 400px;
    height: 200;
    top: 80px;
    left: 15px;
    background-color:white;
    border-radius:15px;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);

}
.menu-ul{
    display: block;
    align-items:center;
    line-height: 2;
    top: 0;
    right: 0;;
    padding: 0px;
    margin-bottom: 1px ;
    
}

.menu-ul li{   
    list-style-type: none;
}
.menu-ul li a{
    display: block;
    color:black;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 16px;
    text-align: center;
    border-bottom:1px solid var(--ltgray);
}
.hamburger {
    display: block;
    cursor: pointer;
}
#toggle :checked {
    .menu {
      display : block;
    }
}
#toggle{
    opacity: 1;
}

@media screen and (min-width:600px){
    main{
        max-width: 1440px;
        height: 300px;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 800px;
    }

    .hamburger{
        display: none;
    }
    
    .menu{
        display:block;
        top: 0px;
        margin-left: 300px;
       

    }
    .menu-ul{
        display:inline-flex;
        flex-direction: row;
        position: absolute;
        
    }
    .menu-ul li{
    }
    .menu-ul li a{
        color: white;
        border:0;
        padding:10;
    }
    aside{
        padding: 0;
        margin:10px;
        width: 800px;
    }
    .mastercard{
        width: 800px;
    }


}

aside {
    position: relative;
    border-radius: 0.5rem;
    max-width: 400px;
    margin: auto;
    font-size: 15px;
    margin-top: -50px;
    
}

.mastercraft {
    position: relative;
    margin-top: -25px;
    margin-left: 170px;
}
.mastercard {
    position: relative;
    border-radius: 25px;
    padding: 0 0px;
    margin: 0;
    margin-top: -40px;
    border-radius: 0.5rem;
    width: 400px;
    background-color: white;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: var(--darkgray);
}
.button {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.backbutton {
    text-decoration: none;
    display: flex;
    background-color: var(--modcyan);
    color: white;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}


.middle {
    padding: 0 0px;
    margin: 0;
    border-radius: 0.5rem;
    width: 400px;
    background-color: white;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1 1fr;
}
hr {
    border: solid 0.5px var(--ltgray);
    width: 100px;
}

.about{
    padding: 20px;
    margin: 0;
    border-radius: 0.5rem;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(3 1fr);
    grid-row-gap:20px ;
    

}
.standcard{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--ltgray);
    padding: 20px;
    
    
}
h3{
    
    font-weight: 900;
}
.pledge{
   
    color:var(--modcyan);
    font-weight: bold;
}

.about h1{
    display: flex;
    text-align: left;
}

.about p{
    font-weight: normal;
    text-align: left;
    align-self: center;
    margin-left: 5px;
    margin-top: 5px;

}

.selectbutton{
    text-decoration: none;
    display: flex;
    background-color: var(--modcyan);
    color: white;
    border: none;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    width: 150px;
}
.box4{
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    
}
.progress {
    max-width: 300px;
    border-radius: 15px;
    background-color:rgb(243, 236, 236);
  }
.progress-bar {
    height: 15px;
    border-radius: 25px;
    background:   hsl(176, 50%, 48%);
  }
