.html {
    box-sizing: border-box;
    font: 100%;
    // font-size: 16px;
}

body {
    font-family: "Commissioner", sans-serif;
    margin: 0px;
    padding: 0;
}

:root {
    --black: hsl(0, 0%, 0%);
    --darkgray: hsl(0, 0%, 48%);
    --darkcyan: hsl(176, 72%, 28%);
    --modcyan: rgb(61, 184, 175);
    --ltgray: hsl(210, 6%, 94%);
    --paddingX: 2rem;
    --paddingY: 1.5rem;
}
.dim{
    display : block;
    position: absolute;
    align-items: flex-start;
    width: 1400px;
    height: 0px;;
    background-color: var(--darkgray);
    top: 0;
    left: 0;
    margin-left: -1000;
    opacity: 0.5;
   
 }
.container {
    max-width: 375px;
    
}
nav {
    display: flex;
    flex-direction: row;
    // grid-template-columns:repeat(1,1fr);
    // grid-template-rows: repeat(3,1fr);
    // grid-gap: 10px;

    position: relative;
    background-image: url(/images/image-hero-mobile.jpg);
    background-position: 10% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
    padding: 30px;
    padding-top: 40px;
    
}

.menu{
    display: none;
    position: absolute;
    z-index: 999;
    margin: auto 0;
    width: 400px;
    top: 80px;
    left: 15px;
    background-color:white;
    border-radius:15px;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    transition: 0.2s;

}
.menu-ul{
    display: block;
    align-items:center;
    line-height: 2;
    top: 0;
    right: 0;;
    padding: 0px;
    margin-bottom: 1px ;
    
}

.menu-ul li{   
    list-style-type: none;
}
.menu-ul li a{
    display: block;
    color:black;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 16px;
    text-align: center;
    border-bottom:1px solid var(--ltgray);
}
.hamburger {
    display: block;
    cursor: pointer;
}
#toggle{
    display: none;
}
#toggle:checked ~ .menu {
    display : block;
    }	
#toggle:checked ~ .dim {
    display : flex;
    position: absolute;
    align-items: flex-start;
    width: 1400px;
    height: 1400px;;
    background-color: var(--darkgray);
    top: 0;
    left: 0;
    margin-left: -1000;
    opacity: 0.5;
    
    }	 
#toggle:checked ~ .hamburger {
    position: relative;
    z-index: 9999;
    content: url(/images/icon-close-menu.svg);
    width: 20px;
    height: 20px;
        }   


aside {
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 0.5rem;
    max-width: 400px;
    margin: auto;
    font-size: 15px;
    margin-top: -50px;
    background-color: white;
    height: 1000px;
}

.mastercraft {
    position: relative;
    margin-top: -25px;
    margin-left: 170px;
}
.mastercard {
    position: relative;
    border-radius: 25px;
    margin-bottom: 100px;
    margin-top: -40px;
    border-radius: 0.5rem;
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: var(--darkgray);
}
.button {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.backbutton {
    text-decoration: none;
    display: flex;
    background-color: var(--modcyan);
    color: white;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}
.backbutton:hover{
    background-color:var(--darkcyan)
}

.bookmar,.bookm{
    cursor: pointer;
}
#mark{
    display: none;
   
}
.bookm{
    display: none;
}

#mark:checked ~ .bookm{
  color: var(--darkgray);
    }	
#mark:checked ~ .bookmar{
      content: url(/images/icon-graybookmark.svg);
 }	
.middle {
    margin-top: 50px;
    border-radius: 0.5rem;
    width: 400px;
    background-color: white;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1 1fr;
}
hr {
    border: solid 0.5px var(--ltgray);
    width: 100px;
}

.about{
    padding: 20px;
    margin: 0;
    border-radius: 0.5rem;
    max-width: 375px;
    background-color: white;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(3 1fr);
    grid-row-gap:20px ;
    

}
.standcard{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--ltgray);
    padding: 20px;
    opacity: 1;
}
h3{
    
    font-weight: 900;
}
.pledge{
    color:var(--modcyan);
    font-weight: bold;
}

.about h1{
    display: flex;
    text-align: left;
}

.about p{
    font-weight: normal;
    text-align: left;
    align-self: center;
    margin-left: 5px;
    margin-top: 5px;

}

.selectbutton{
    text-decoration: none;
    display: flex;
    background-color: var(--modcyan);
    color: white;
    border: none;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    width: 150px;
}
.selectbutton:hover{
    background-color:var(--darkcyan)
}
.box4{
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    
}

  progress{
   
    border-radius: 15px;
    background-color:rgb(243, 236, 236);
  }
  progress::-webkit-progress-bar {
    width: 300px;
    border-radius: 15px;
    background-color:rgb(243, 236, 236);
  }
  progress::-webkit-progress-value {
    background-color: hsl(176, 50%, 48%);
    border-radius: 15px;
  }

  .backproject{
      display: block;
      background-color: white;
      position: relative;
      z-index: -99;
      padding: 20px;
      margin-top: -3100px;
      border-radius: 0.5rem;
      max-width: 375px;
      box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;
      display: grid;
      grid-template-columns:repeat(1,1fr);
      grid-template-rows:repeat(3 1fr);
      grid-row-gap:20px ;
  }
.backhead{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.backproject img{
  height: 15px;
  cursor: pointer;
}  


.backproject p{
    text-align: left;
    padding: 5px;
}

.radio{
    display: grid;
    grid-template-columns: repeat(1,40px 300px);
    grid-template-rows: 40px;
    grid-gap: 10px;
    align-items: center;
    margin: 0;
 
}
input{
    opacity: 0;
    width: 0;
    height: 0;
    }

.radio__input{
      grid-area: 1/1/2/2;
      align-items: center;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
input:checked + .radio__control {
        background: radial-gradient( hsl(176, 50%, 47%) 50%, rgba(255, 0, 0, 0) 51%);
      }
  

  .radio__control {
   
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 0.2em solid var(--ltgray);
    transform: translateY(-0.1em);
  }
  .radio__label{
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

.backproject h1{
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin: 0;
}
 .backproject h4{
     font-size: 20px;
     display: flex;
     align-items: center;
     margin: 0;
  }

  .backproject p{
    padding: 10px;
  }

  .backproject .selectbutton{
      display: none;
  }

  .backproject .standcard{
    box-sizing: border-box; 
    padding: 15px 2px;
  }
 
  .enter{
      display: none;
      flex-direction: column;
      align-items: center;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,0.5fr);
      justify-items: center;

  }

  .enter hr{
    grid-area: 1/1/2/3;
    width: 350px;
  }


  .enter p{
    grid-area: 2/1/3/3;
      display: flex;
      justify-content: center;
      align-content: center;
      
  }
  .submit{
    grid-area: 3/1/4/3;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 20px;
    justify-items: center;
 
}
  .price{
    grid-area: 3/1/4/2;
    text-decoration: none;
    display: flex;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    border: 3px solid var(--ltgray);
  }
  .continue{
    grid-area: 3/3/4/4;
    text-decoration: none;
    display: flex;
    background-color: var(--modcyan);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    border: 3px solid var(--ltgray);
  }
  .success{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:1fr 1fr 2fr 1fr;
    background-color: white;
    position: relative;
    z-index: -999;
    padding: 20px;
    margin-top: -1800px;
    border-radius: 0.5rem;
    max-width: 375px;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    justify-items: center;
  }

  .tick{
    grid-area: 1/1/2/2;
  }
  .success h1{
    grid-area: 2/1/3/2;
    align-items: center;
  }
  .success p{
    grid-area: 3/1/4/2;
    align-items: center;
  }
  .got{
    grid-area: 4/1/5/2;
    margin-top: 20px;
    
  }



  
  @media screen and (min-width:800px){
    main{
        max-width: 1440px;
        height: 400px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        max-width: 1440px;
       
    }
    nav{
        background-image: url(/images/image-hero-desktop.jpg);
        display: flex;
        justify-content: flex-end;
      
       
    }

    .hamburger{
        display: none;
    }
    
    .menu{
        grid-area: 1/2/2/4;
        display: flex;
        align-items: flex-start;
        margin: auto 0;
        width: 400px;
        top: 0px;
        left: 415px;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
                box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.15);
        -webkit-transition: 0.2s;
        transition: 0.2s;

    }
    .menu-ul{
        display:inline-flex;
        flex-direction: row;
        position: absolute;
        padding: 0;
        margin: 0;
    }

    .menu-ul li a{
        color: white;
        border:0;
        padding: 0 20px;
    }
    aside{
       max-width: 800px;
       background-color: white;
       height: 2000px;
       
       
    }
    .mastercraft {
        position: relative;
        margin-left: 380px;
    }
    .mastercard, .middle, .about, .standcard, .backproject{
        box-sizing: border-box;
        max-width: 800px; 
        width: 800px;  

    }
    .mastercard{
        height: 300px;
    }
    
    .backbutton:hover{
        
        background-color: var(--darkcyan);
    }
    
    
    .bookmarks {
       width: 140px;
       height: 60px;
    }
    .bookmarks img{
        content: url(/images/icon-webbookmark.svg);
    }
      
    
    .bookm{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color:var(--ltgray) ;
        border-radius: 50px;
        color: hsl(176, 72%, 28%);
        font-weight: bold;
        padding: 0 20px;
        margin-top: -60px;
        width: 130px;
        height: 60px; 
        
    }
    .middle{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(2,3fr,3fr);
        padding: 30px;
    }
    .box4{ 
        grid-area:2/1/3/4; 
        width: 100%;   
        display: inline-flex;
        justify-content: center;
        padding:30px 0;
        
        
    }
    .progress, .progress-bar{
       max-width: 500px;
       height:15px;
       width: 500px;
       
    }
    .standcard{
        max-width: 800px;
        width: 720px;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr, 1fr, 1fr);
    }
    
    .pledge{
        grid-area: 1/3/2/4;
        align-self: center;
        justify-self: flex-end;
        margin-right: 20px;
     
    }
    .standcard p{
        grid-area: 2/1/3/4;
        
    }
    .left{
        grid-area: 3/1/4/2;
    }

    .selectbutton{
        grid-area: 3/3/4/4;
        align-self: center;
        
        
    }
    .about{
        max-width: 800px;
        padding: 40px;
    }
    .backproject{
        margin-top: -2700px;
        z-index: -999;
    }
    .backproject.standcard{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,0.5fr);
        
    }
    .backproject.radio{
        grid-area: 1/1/2/2;
    }
    
    .backproject.left{
        grid-area: 1/2/2/3;
        justify-self: flex-end;
        margin-right: 30px;
        
    }
    .backproject.standcard p{
        grid-area: 2/1/3/3;
    }
    
    .pledges{
        color:var(--modcyan);
        font-weight: bold;
       align-self:flex-start;

       
    }
    .enter{
         display: none;
         grid-area: 3/1/5/3;
         grid-template-columns: repeat(2,1fr);
         grid-template-rows: repeat(2,0.5fr);
        }
    .enter hr{
        grid-area: 1/1/2/3;
        width: 100%;
    }
    
    .enter p{
        grid-area: 2/1/3/2;
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        
    }
   .submit{
        grid-area: 2/2/3/3;
        display: grid;
        justify-items: center;
        grid-gap: 5px;
       
    }
    .success{
        display: grid;
        max-width: 800px;
        width: 750px;
        margin-top: -1400px;
        justify-self: center;
    }
   
    
}